.cabecalho {
    text-align: center;
    align-items: center;
    background-color: rgb(15,15,15);
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menu_link {
    width:30%;
    background-color: rgb(222, 222, 222);
    border:0px;
    padding:5px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.menu_link:hover {
    background: orange;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.icone_conteudo {
    padding: 1rem;
}

.icone_descricao {
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: center;
}

.icone_imagem {
    height: 250px;
}

.icone_titulo {
    font-size: 1.4375rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icone {
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

@media screen and (min-width: 0) {
    .icone {
        margin-right: 1rem;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .icone {
        margin-right: 2.5rem;
        width: calc(33.33% - 2.5rem);
    }
}
@media screen and (min-width: 992px) {
    .icone {
        margin-right: 5rem;
        width: calc(25% - 5rem);
    }
}

.icones {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 0) {
    .icones {
        padding: 5rem 0 0 1rem;
    }
}
@media screen and (min-width: 768px) {
    .icones {
        padding: 5rem 0 0 2.5rem;
    }
}
@media screen and (min-width: 992px) {
    .icones {
        padding: 5rem 0 0 5rem;
    }
}

.titulo {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(11,112,252);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rodape {
    background: black;
    color: orange;
    text-align: center;
    padding: 1.5625rem 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 0) {
    .rodape {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 768px) {
    .rodape {
        font-size: 2rem;
    }
}

.sobre_descricao {
    color: #595959;
    font-weight: 100;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 0) {
    .sobre_descricao {
        font-size: 1.3rem;
    }
}
@media screen and (min-width: 768px) {
    .sobre_descricao {
        font-size: 1.75rem;
    }
}

.cadastro {
    background-color: orange;
    text-align: center;
}

.table, .tr, .th, .td {
    border: 3px solid black;
    text-align: center;
    width: 800px;
    height: 25px;
}

.th {
    color: rgb(11,112,252);
}

.mens {
    text-align: top;
}
